body {
  background-image: url('123456-02.jpeg');
  background-size:cover;
}
.navbar-brand{ 
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;

}
.navbar-dark .navbar-nav .nav-link{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

}
.navbar-dark .navbar-nav .nav-item{
    margin: 0 15px;
}


  
  .para {
   text-align: center;
    font-family: 'Source Code Pro', monospace;
   color: wheat;
    margin-top: 50px;
    font-size: 55px;
   margin-bottom: 30px;
   background-color: rgba(32, 28, 28, 0.5);
  padding-left: 25px;
  padding-right: 25px;
  max-width: fit-content; 
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  }
  
  .flex-parent {
    display: flex;
  }
  
  .jc-center {
    justify-content: center;
  }
  
 
  
  .maindiv1 button{
    background-color:  rgba(32, 28, 28, 0.5);
    color:white; 
    border-style: none;
  text-decoration: none;
  font-size:large;
    font-weight:500;
    border-radius: 36px;
    padding: 15px;
    display:inline-block;
    width: 300px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
   
  }
  
  .maindiv1 button:hover {
    background-color: #09b60f;
    
   
    cursor: pointer;
  }
  .maindiv2 button{
    background-color: rgba(32, 28, 28, 0.5); 
    color: white; 
    text-decoration: none;
    font-size:large;
    font-weight:500;
   border-style: none;
    border-radius: 36px;
    padding: 15px;
    display:inline-block;
    width: 300px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
  .maindiv2 button:hover {
    background-color:red;
  
   
    cursor: pointer;
  }
