body{
    background:url(78914.jpg) repeat fixed;
    
    background-size: cover;
    
}
.navbar-brand{ 
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;

}
.navbar-dark .navbar-nav .nav-link{
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;

}
.navbar-dark .navbar-nav .nav-link .fa{
    margin-right: 8px;
}
#navi{
 margin:0 50px;

}
#navi1{
    margin:0 -20px;
    margin-right:30px;
}



#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: black;
    
    transition: 0.6s;
}
#ulmar{
    padding-top: 50px;
}
nav ul li{
    list-style: none;
    margin: 50px 0px;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
nav ul li a:hover{
    text-decoration: none;
    color:orangered;
}
nav ul li a .fa{
    margin-right: 8px;
}
#menuBtn{
    width: 60px;
    position: fixed;
    right: 25px;
    top: 12px;
    
    cursor: pointer;
    
}
#button1{
    width: 250px;
    position: fixed;
    left: 45px;
    top: 75px;
    height: 40px;
    font-weight: 600;
    font-size: 17px;
    color: white;
    background-color: black;
    border: 2px solid black;
    cursor: pointer;
    transition: transform .5s;
    
   
}
#button1:hover{
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.1);
}
#sideNav1{
    width: 350px;
    height: 100vh;
    position: fixed;
    left: -350px;
    top: 0;
    background: black;
    
    transition: 0.6s;

}



.error {
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.peti-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.peti-box {
  
 
    max-width: 550px;
   max-height: fit-content;
    padding: 10px;
   transition: transform .2s;
    background-color:#e4e4e4;
    margin: 10px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}
  
.yesname{
    text-transform: uppercase;
    font-weight:bold;
    font-size: 21px;
}
.yespet{
    font-family: "Comic Sans MS";
    font-size:20px;
    font-weight: 525;


}
.yestag{
   display:inline;
 
}
.yestag2{
   padding: 5px;
}

.bttn {
    color:purple;
   border:hidden;
   transition: transform 0.2s;
    cursor: pointer;
    font-size: 30px;
    margin-top: 0px;
    
   
    background-color: #e4e4e4;
} 
.bttnx{
    display: inline-block;
   
}
.bttn1:hover{
    color:#2054ff;
   

}
.bttn2:hover{
    color:#c21111;
   
}
.bttn4{
    color:#2054ff;
   
    transform: scale(1.25);
}
.bttn5{
    color:#c21111;
   
    transform: scale(1.25);
}

.btndpv{
    margin-left:40px;
}
#exampleFormControlTextarea1{
    margin-top: 130px;
    margin-left: 10px;
    max-width: 330px;
}
#deprt{
    font-family:"Comic Sans MS";
    font-size:medium;
    font-weight: 525;
    max-width: 330px;
    margin-left: 10px;

    
}
#postbtn{
    width: 330px;
    margin-left: 10px;
    margin-top: -8px;
    border: 2px black;
    background-color:purple;
    border-radius: 20px;
    
}
#postbtn:hover{
background-color: orangered;
border: 2px black;

}
.fb{
    transition: transform 0.2s;
    width: 90px; height: 30px;
    background-color: purple;
    color: white;
    border: 2px purple;
font-size: 12.5px;
    text-align:left;
}
.fb:hover{
    background-color: black;
}

.wrapper{
    width: 90px;
}
.wrapper ul {
    list-style: none;
 
}
.wrapper ul li{
    background: purple;
    color:#fff;
    width: 90px;
 
    float: left;
    height: 22px;
    line-height: 22px;
    text-align: center;
   
    font-size: 15px;
    
    font-family: "comic sans ms";  
   
}
.wrapper ul ul{
   display: none;
    list-style: none;
}
.wrapper ul li:hover > ul{
    display: inline-flex;
}